In [2]:
import pandas as pd

# Observations
It looks like the 35 injuries was a bus or something driving off of a highway ramp.

In [3]:
df = pd.read_csv("data/Accidents_2015-2019.csv")
df.columns

Index(['Unnamed: 0', 'Accident Number', 'Date and Time',
       'Number of Motor Vehicles', 'Number of Injuries',
       'Number of Fatalities', 'Property Damage', 'Hit and Run',
       'Reporting Officer', 'Collision Type', 'Collision Type Description',
       'Weather', 'Weather Description', 'Illumination',
       'Illumination Description', 'Harmful Codes',
       'Harmful Codes Description', 'Street Address', 'City', 'State', 'ZIP',
       'RPA', 'Precinct', 'Latitude', 'Longitude', 'Mapped Location', 'Year'],
      dtype='object')

In [4]:
df["Weather Description"].value_counts()

CLEAR                     119362
CLOUDY                     24459
RAIN                       22783
UNKNOWN                     1560
SNOW                        1460
FOG                          379
SLEET, HAIL                  341
OTHER (NARRATIVE)             96
BLOWING SNOW                  53
SEVERE CROSSWIND              20
SMOG, SMOKE                   19
BLOWING SAND/SOIL/DIRT         1
Name: Weather Description, dtype: int64

In [4]:
df["Number of Injuries"].value_counts().head(25)

0     125280
1      33176
2       8678
3       2396
4        804
5        312
6        111
7         50
8         28
9         10
10         8
16         2
35         1
13         1
12         1
Name: Number of Injuries, dtype: int64

In [5]:
pd.set_option('display.max_colwidth', -1)

In [6]:
bigdf = df.loc[df['Number of Injuries'] == 35]

In [7]:
bigdf[['Collision Type', 'Collision Type Description',
       'Weather', 'Weather Description', 'Illumination',
       'Illumination Description', 'Harmful Codes',
       'Harmful Codes Description']]

,Collision Type,Collision Type Description,Weather,Weather Description,Illumination,Illumination Description,Harmful Codes,Harmful Codes Description
55847,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,21.0,CLEAR,1.0,DAYLIGHT,1;24;29;63;64,GUARDRAIL FACE;LUMINAIRE/LIGHT SUPPORT;Ran Off Road-Right;Ran Off Road-Left

In [8]:
bigdf[['Street Address', 'City', 'State', 'ZIP',
       'RPA', 'Precinct', 'Latitude', 'Longitude', 'Mapped Location', 'Year']]

,Street Address,City,State,ZIP,RPA,Precinct,Latitude,Longitude,Mapped Location,Year
55847,I65 N EXT RAMP & I 65,NASHVILLE,TN,37207.0,1863.0,EAST,36.2057,-86.7747,POINT (-86.7747 36.2057),2016

In [20]:
df["Collision Type Description"].value_counts()

Front to Rear                              64244
ANGLE                                      39955
NOT COLLISION W/MOTOR VEHICLE-TRANSPORT    27990
SIDESWIPE - SAME DIRECTION                 24991
SIDESWIPE - OPPOSITE DIRECTION             3759
HEAD-ON                                    3549
UNKNOWN                                    2157
OTHER                                      1994
Rear to Side                               1283
REAR-TO-REAR                               922
Name: Collision Type Description, dtype: int64

In [5]:
df["Collision Type Description"].value_counts()

Front to Rear                              64244
ANGLE                                      39955
NOT COLLISION W/MOTOR VEHICLE-TRANSPORT    27990
SIDESWIPE - SAME DIRECTION                 24991
SIDESWIPE - OPPOSITE DIRECTION              3759
HEAD-ON                                     3549
UNKNOWN                                     2157
OTHER                                       1994
Rear to Side                                1283
REAR-TO-REAR                                 922
Name: Collision Type Description, dtype: int64

In [11]:
df["Harmful Codes Description"].value_counts().head(25)

MOTOR VEHICLE IN TRANSPORT                                             126400
PARKED MOTOR VEHICLE                                                   6049
MOTOR VEHICLE IN TRANSPORT;PARKED MOTOR VEHICLE                        2986
CONCRETE TRAFFIC BARRIER                                               2105
PEDESTRIAN                                                             1977
UTILITY POLE                                                           1726
OTHER OBJECT (NOT FIXED)                                               1655
GUARDRAIL FACE                                                         1471
DITCH                                                                  1401
DEER (ANIMAL)                                                          1304
MOTOR VEHICLE IN TRANSPORT-OTHER ROADWAY                               869
MAIL BOX                                                               747
Motor Vehicle-In-Motion Outside Trafficw                               690
TREE                                                                   676
WALL                                                                   631
MOTOR VEHICLE IN TRANSPORT;CONCRETE TRAFFIC BARRIER                    607
UNKNOWN MOST HARMFUL EVENT                                             591
FENCE                                                                  582
PARKED MOTOR VEHICLE;Motor Vehicle-In-Motion Outside Trafficw          545
CURB                                                                   518
THROWN OR FALLING OBJECT                                               500
OTHER FIXED OBJECTS                                                    482
BUILDING                                                               457
MOTOR VEHICLE IN TRANSPORT;MOTOR VEHICLE IN TRANSPORT-OTHER ROADWAY    414
OTHER POST, POLE, SUPP.                                                411
Name: Harmful Codes Description, dtype: int64

In [12]:
df["Month"] = pd.DatetimeIndex(df["Date and Time"]).month
df["Day"] = pd.DatetimeIndex(df["Date and Time"]).day

In [15]:
october = df.loc[df["Month"]==10]

In [16]:
october["Day"].value_counts()

26    723
25    596
24    578
27    574
20    556
19    554
23    553
30    549
14    546
31    539
17    537
4     528
2     524
16    519
18    518
28    512
21    511
11    510
5     510
7     494
15    492
6     488
3     486
12    484
10    483
13    475
8     468
29    462
1     460
22    458
9     451
Name: Day, dtype: int64

In [14]:
df["Day"].value_counts()

20    6137
19    5938
6     5928
16    5837
14    5833
15    5784
17    5761
13    5749
9     5730
21    5703
18    5686
10    5643
12    5616
4     5604
5     5599
1     5581
3     5559
27    5548
2     5539
26    5530
23    5504
28    5496
22    5482
8     5476
11    5412
24    5371
7     5333
30    5092
25    5059
29    5056
31    3272
Name: Day, dtype: int64